/* Join/create layout */

#join_or_create {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Heading */

#join_or_create h1 {
  color: white;

  font-family: "Poker";
  text-align: center;
}

/* Form container */

#join_or_create div {
  display: inline-block;

  padding: 0 1em;

  background-color: white;

  font-family: sans-serif;
}

/* Text */

#join_or_create p {
  text-align: center;
}

/* Inputs */

#join_or_create input[type="text"] {
  display: block;

  padding: 1em;
  margin-bottom: 1em;

  border: 1px solid gray;
  outline: none;

  text-align: center;
}

#join_or_create input[type="text"]:focus {
  border-color: black;

  transition: border-color 0.2s ease;
}

/* Buttons */

#join_or_create button {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;

  border: none;

  background-color: red;
  color: white;
}

#join_or_create button:active {
  background-color: darkred;
}

#join_or_create button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
