@font-face {
  font-family: "Poker";
  src: url("/poker.otf") format("opentype");
}

#lobby {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#lobby h1 {
  font-family: "Poker";
  color: white;
  text-align: center;
}

#lobby > div {
  font-family: sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#lobby table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

#lobby td {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}

#lobby tr:nth-child(even){background-color: #f2f2f2;}

#lobby > div > :first-child {
  display: flex;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  background-color: red;
  color: white;
}

#lobby > div > :first-child > strong {
  flex: 1;
}

#lobby > div > :nth-child(2) {
  flex: 1 1 0;
  overflow: scroll;
}

#lobby > div > :nth-child(3) {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

#lobby button {
  padding: 1em;
  background-color: red;
  color: white;
  border: none;
}

#lobby button:active {
  background-color: darkred;
}
