@font-face {
  font-family: "Poker";
  src: url("/poker.otf") format("opentype");
}

/* Lobby layout */

#lobby {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;

  width: 400px;
  height: 100dvh;
}

#lobby h1 {
  color: white;

  font-family: "Poker";
  text-align: center;
}

/* Lobby body */

#lobby_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: white;

  font-family: sans-serif;
}

/* Lobby header */

#lobby_header {
  display: flex;

  padding: 1em 0;

  background-color: red;
  color: white;

  text-align: center;
}

#lobby_header strong {
  flex: 1;
}

/* Lobby table */

#lobby_table_container {
  flex: 1 1 0;

  overflow: scroll;
}

#lobby_table_container table {
  width: 100%;

  border-collapse: collapse;
  table-layout: fixed;
}

#lobby_table_container tr:nth-child(even) {
  background-color: #f2f2f2;
}

#lobby_table_container td {
  padding: 1em 0;

  text-align: center;
}

/* Lobby footer */

#lobby_footer {
  display: flex;
  justify-content: space-between;

  padding: 1em;
}

#lobby_footer button {
  padding: 1em;

  border: none;

  background-color: red;
  color: white;
}

#lobby_footer button:active {
  background-color: darkred;
}

#lobby_footer button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
