* {
  --table-unit: min(1.5vw, 1.5vh);
}

/* Table layout */

#table_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 100vh;
  gap: 7em;
  padding-top: 7em;

  font-family: sans-serif;
  font-size: var(--table-unit);
}

#table {
  position: relative;

  width: min(70vw, 70vh);
  height: min(70vw, 70vh);

  border: 1em solid burlywood;
  border-radius: 50%;

  background-image: radial-gradient(circle, red, darkred);
  color: white;
}

#table p {
  margin: 0;
}

/* Center table info */

#table_central_info_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#table_pot_info_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 1em;

  color: cyan;
}

#table_pot_info_container img {
  height: 3em;
}

#table_pot_info_container p {
  padding: 0 1em;

  border-radius: 9999px;

  background: rgba(0, 0, 0, 0.5);
}

#table_community_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#table_community_cards_container img {
  height: 6em;
}

/* Player layout */

.player_container {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 0;
  height: 0;
}

.player_hole_cards_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player_hole_cards_container img {
  height: 6em;
}

.player_info_container {
  position: relative;
  z-index: 1;

  width: 10em;
  padding: 1em;

  border-radius: 1em;

  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.player_name {
  white-space: nowrap;
  overflow: scroll;
}

.player_chips {
  color: lightgreen;
}

.player_turn {
  color: yellow;
}

/* Player bet info */

.player_bet_info {
  position: absolute;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: row;
  align-items: center;
}

.player_bet_info img {
  height: 3em;
}

.player_bet_info p {
  padding: 0 1em;

  border-radius: 9999px;

  background: rgba(0, 0, 0, 0.5);
}

/* Controls */

#controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  padding: 1em;

  border-radius: 1em;

  background-color: white;
}

#controls button {
  align-self: stretch;

  padding: 1em;

  border: none;

  background-color: red;
  color: white;

  font-size: 1em;
}

#controls button:active {
  background-color: darkred;
}

#controls button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

/* Raise-to controls */

#raise_to_controls {
  display: flex;
  flex-direction: row;

  gap: 1em;
}

#raise_to_controls input[type="text"] {
  width: 5em;
  padding: 1em;

  border: 1px solid gray;
  outline: none;

  font-size: 1em;
}

#raise_to_controls input[type="text"]:focus {
  border-color: black;
  
  transition: border-color 0.2s ease;
}
  
#raise_to_controls input[type="range"] {
  width: 5em;
}
