* {
  --table-unit: min(1.5vw, 1.5vh);
}

#table {
  position: absolute;
  left: 50%;
  height: 100vh;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 7em;
  padding-top: 7em;
  font-family: sans-serif;
  font-size: var(--table-unit);
}

#table_central {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player {
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player_bet {
  position: absolute;
  transform: translate(-50%, -50%);
}

#table > :first-child {
  position: relative;
  width: min(70vw, 70vh);
  height: min(70vw, 70vh);
  border-radius: 50%;
  border: 1em solid burlywood;
  background-image: radial-gradient(circle, red, darkred);
  color: white;
}

#table > :first-child p {
  margin: 0;
}

.player > div > :first-child, 
.player_bet, 
#table_central > :first-child,  
#table_central > :nth-child(2), 
#table > :nth-child(2), 
#table > :nth-child(2) > :nth-child(4) {
  display: flex;
  flex-direction: row;
}

.player > div > :first-child,  
#table_central > :first-child, 
#table_central > :nth-child(2) {
  justify-content: center;
}

#table_central > :first-child > p {
  color: cyan;
}

.player > div > :nth-child(2) {
  position: relative;
  z-index: 1;
  width: 10em;
  padding: 1em;
  border-radius: 1em;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.player > div > :nth-child(2) > :nth-child(1) {
  white-space: nowrap;
  overflow: scroll;
}

.player > div > :nth-child(2) > :nth-child(3) {
  color: lightgreen;
}

.player > div > :nth-child(2) > :nth-child(6) {
  color: yellow;
}

.player img, #table_central > :nth-child(2) img {
  height: 6em;
}

.player_bet, #table_central > :first-child {
  align-items: center;
}

#table_central > :first-child {
  margin-bottom: 1em;
}

.player_bet img, #table_central > :first-child img {
  height: 3em;
}

.player_bet p, #table_central p {
  padding: 0 1em;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.5);
}

#table > :nth-child(2) {
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

#table > :nth-child(2) > :nth-child(4) {
  gap: 1em;
}

#table button {
  font-size: 1em;
  padding: 1em;
  align-self: stretch;
  background-color: red;
  color: white;
  border: none;
}

#table button:active {
  background-color: darkred;
}

#table button:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

#table input[type="text"] {
  font-size: 1em;
  width: 5em;
  padding: 1em;
  outline: none;
  border: 1px solid gray;
}

#table input[type="text"]:focus {
  border-color: black;
  transition: border-color 0.2s ease;
}

#table input[type="range"] {
  width: 5em;
}
